1. What are data structures, and why are they important?

Data structures are ways to organize and store data so that it can be accessed and modified efficiently. They are important because they help manage large amounts of data in a way that optimizes performance.

2. the difference between mutable and immutable data types with examples

Mutable data types can be changed after creation, like lists. Immutable ones can't be changed, like tuples.
Example:
Mutable → my_list = [1, 2] (you can do my_list.append(3))
Immutable → my_tuple = (1, 2) (you can't change values inside it)

3. What are the main differences between lists and tuples in Python

Lists are mutable, tuples are immutable. Lists are slower but more flexible, while tuples are faster and more secure.

4. Describe how dictionaries store data

Dictionaries store data as key-value pairs using a hash map internally. Each key is unique and mapped to a specific value.

5. Why might you use a set instead of a list in Python

Sets automatically remove duplicates and are faster for checking if an item exists.

6. What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters. Lists are mutable and can hold elements of different data types.

7. How do tuples ensure data integrity in Python?

Tuples are immutable, which means the data can't be changed, ensuring consistency and preventing accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables under the hood.

9. Can lists contain different data types in Python?

Yes, Python lists can contain elements of different data types like integers, strings, or even other lists.

10. Explain why strings are immutable in Python.

Strings are immutable for efficiency and safety—changing a string creates a new one, which helps in managing memory and avoids bugs.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries offer faster lookups using keys and allow organizing data in a more meaningful way with key-value pairs

12. Describe a scenario where using a tuple would be preferable over a list

When data shouldn't be changed, like coordinates (x, y) or dates. Tuples ensure it remains constant.

13. How do sets handle duplicate values in Python

Sets automatically remove duplicates when created or when elements are added.

14. How does the “in” keyword work differently for lists and dictionaries

In lists, it checks if the value exists. In dictionaries, it checks for the existence of a key.

15. Can you modify the elements of a tuple? Explain why or why not

No, tuples are immutable. Once created, elements can't be changed.

16. What is a nested dictionary, and give an example of its use case

A nested dictionary is a dictionary inside another dictionary.
Example: students = {'pratik': {'age': 20, 'grade': 'A'}}

17. Describe the time complexity of accessing elements in a dictionary

Average case is O(1) due to hashing, but in the worst case (hash collisions), it can be O(n).

18. In what situations are lists preferred over dictionaries

When order matters and data is simple without unique keys, like a list of names or numbers.

19. Why are dictionaries considered unordered, and how does that affect data retrieval

Before Python 3.7, dictionaries didn’t maintain insertion order. Retrieval uses key lookup, not index.

20. Explain the difference between a list and a dictionary in terms of data retrieval

Lists retrieve by index (position), while dictionaries retrieve by key (label).

1. Write a code to create a string with your name and print it

In [1]:
name = "Pratik"
print(name)

Pratik

2. Write a code to find the length of the string "Hello World"

In [2]:
s = "Hello World"
print(len(s))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
s = "Python Programming"
print(s[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [4]:
s = "hello"
print(s.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [10]:
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [11]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [13]:
t = (10, 20, 5, 15)
print(min(t))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [15]:
fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [16]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [17]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [18]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [19]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [20]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [21]:
d = {"name": "Pratik", "age": 21, "city": "Delhi"}
print(d)

{'name': 'Pratik', 'age': 21, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [22]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [23]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [24]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [25]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [26]:
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 1, 'b': 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [27]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[45, 66, 83, 85, 96]

28. Write a code to create a list with strings and print the element at the third index

In [28]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result

In [29]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [30]:
words = ["hello", "world", "hello"]
s = set(words)
print(s)

{'hello', 'world'}